nav ul a,
nav .brand-logo{color:#444;}
p{line-height:2rem;}
.sidenav-trigger{color:#26a69a;}
.parallax-container{min-height:680px;line-height:0;height:auto;color:rgba(255,255,255,.9);}
.parallax-container .section{width:100%;}
@media only screen and (max-width:600px){#index-banner .section{top:0;}
}
.icon-block{padding:0 15px;}
.icon-block .material-icons{font-size:inherit;}
footer.page-footer{margin:0;}
.mb10{margin-bottom:10px !important;}
.mt20{margin-top:20px !important;}
.clm *{margin:0 !important;}
.clp *{padding:0 !important;}
.input-field input[type="search"]:focus:not(.browser-default){color: black !important;}
.nav-search{width: 450px !important;}
/*.carousel {min-height: 900px;}*/
.h-init {height: initial !important;}
.collapsible li ul {padding-left: 5px !important;}
.ovh {overflow: hidden}
.btn-not-fixed{
    position: absolute;
    right: 5px;
    bottom: -30px;
    z-index: inherit;
}
.card-image{height: 200px; justify-content: center;}
.card-image img {    width: auto !important;;    height: initial !important;;    display: inline-block !important;}

.right-menu .collapsible,
.right-menu.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.right-menu .collapsible li,
.right-menu.fixed .collapsible li {
    padding: 0;
}

.right-menu .collapsible-header,
.right-menu.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
}

.right-menu .collapsible-header:hover,
.right-menu.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.right-menu .collapsible-header i,
.right-menu.fixed .collapsible-header i {
    line-height: inherit;
}

.right-menu .collapsible-body,
.right-menu.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
}

.right-menu .collapsible-body li a,
.right-menu.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
}

.right-menu .collapsible-body > ul:not(.collapsible) > li.active
 {
    background-color: #ee6e73;
}

.right-menu .collapsible-body > ul:not(.collapsible) > li.active a
{
    color: #fff;
}

.right-menu .collapsible-body {
    padding: 0;
}
.right-menu li
{
    float: none;
    line-height: 48px;
}

.redToast
{
    background-color: #B71C1C;
}