* {
    margin: 0;
    padding: 0;
}

.row {
    overflow: hidden;
}

.block-about {
    max-width: 1180px;
    margin: 0px auto;
    min-height: 415px;
}

.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.block {
    max-width: 1180px;
    margin: 0 auto;
}

.block-about .block-about__wrapper .about-item {
    width: 25%;
    float: left;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}

.block-about .block-about__wrapper .about-item .about-item__title {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 30px 0;
    font-weight: 600;
}

.block-about .block-about__wrapper .about-item .about-item__description {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.block-about__wrapper {
    margin: 40px 0;
}

.portfolio {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 900px;
}

.portfolio .portfolio-menu {
    /*min-height: 265px;*/
    text-align: center;
    margin: 90px 0;
}

.portfolio-menu__header {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px 0;
}

.portfolio-menu__items {
    color: #7a7a7a;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    font-family: 'Lato', sans-serif;

}

.portfolio-menu__items ul li {
    overflow: hidden;
    list-style: none;
    float: left;
    text-transform: uppercase;
    padding: 0 20px;
}

.portfolio-menu__items ul li a {
    text-decoration: none;
    color: #7a7a7a;
    transition: 0.3s;
}

.portfolio-menu__items ul li a:hover {
    color: #ff0036;
    transition: 0.3s;
}

.portfolio-menu__items ul li a.active {
    color: #ff0036;
    transition: 0.3s;
}

.black {
    background-color: #262626;
}

.portfolio-items {
    overflow: hidden;

    text-align: center;

    margin: 0 auto;
}

.portfolio-items__main-img {
    display: block;
    width: 100%;
}

.portfolio__item {
    /*display: inline-block;*/
    display: block;
    position: relative;
    float: left;
}

.portfolio__item:hover .item-overlay {
    opacity: 1;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.item-overlay:hover {
    background: rgba(0, 0, 0, 0.82);
}

.item-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    cursor: pointer;
}

.item-overlay-info {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 60%;
    margin-top: -50px;
    text-align: center;
}

.item-overlay-info__project-name {
    color: #fff;
    margin-top: 25px;
    opacity: 1;
    font-size: 18px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    position: relative;
    z-index: 10;
    display: block;
}

.item-overlay-info__project-name {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 993px) {
    .block-about .block-about__wrapper .about-item {
        width: 50%;
        float: left;
        padding: 10px;
    }
}

@media only screen and (max-width: 601px) {
    .block-about .block-about__wrapper .about-item {
        width: 100%;
        float: none;
        padding: 10px;
    }

    .portfolio-menu__items ul li {
        float: none !important;
        padding: 5px 0 !important;
    }

    .portfolio__item {
        width: 100% !important;
    }

}

@media only screen and (min-width: 994px) {
    .block-about__wrapper .portfolio-items__main-img {
        padding: 0 15px;
    }
}