 .section_item_wrapper {
     margin: 0 0 15px 0;
}
 .section_item_wrapper.active {
     margin: 0;
}
 .section_item_wrapper .product_section_menu {
     display: none;
}
 .section_item_wrapper .product_section_name {
     width: calc(100% - 43px);
}
 .section_item_wrapper.active {
     border-bottom: #e3e3e3 1px solid;
     border-left: #e3e3e3 1px solid;
     border-right: #e3e3e3 1px solid;
}
 .section_item_wrapper.active .product_section_menu {
     display: block;
}
 .catalog_section_item {
     width: calc(50% - 12px);
    /*border: #e3e3e3 1px solid;
    */
     margin: 6px;
}
 .catalog_section_item.disable .product_section_name {
     background: #eaeaea;
}
 .catalog_section_item.disable .product_section_name > div {
     color: #373737;
}
 .catalog_section_item.disable .product_section_name > div a {
     color: #373737;
}
 .catalog_section_item.disable .product_section_name::before {
     content: "";
     position: absolute;
     top: 0;
     bottom: 0;
     right: -43px;
     width: 7px;
     background: #eaeaea;
     -webkit-transform: skewX(-20deg);
     -moz-transform: skewX(-20deg);
     -o-transform: skewX(-20deg);
     transform: skewX(-20deg);
     transform-origin: left top 0;
     z-index: -1;
}
 .catalog_section_item.disable .product_section_name::after {
     content: "";
     position: absolute;
     top: 0;
     bottom: 0;
     right: -30px;
     width: 100%;
     background: #eaeaea;
     -webkit-transform: skewX(-20deg);
     -moz-transform: skewX(-20deg);
     -o-transform: skewX(-20deg);
     transform: skewX(-20deg);
     transform-origin: left top 0;
     z-index: -1;
}
 .catalog_section_item.disable .product_section_pic{
     -webkit-filter: grayscale(100%);
     -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
     filter: grayscale(100%);
     filter: gray;
    /* IE 6-9 */
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}
 .catalog_section_item .product_section_pic{
     border: #e3e3e3 1px solid;
     margin-bottom: 30px;
     height: 310px;
}
 .catalog_section_item.disable .product_section_pic:hover{
     -webkit-filter: none;
     -moz-filter: none;
     -ms-filter: none;
     -o-filter: none;
     filter: none;
     filter: none;
    /* IE 6-9 */
}

.tech_catalog_item
{
    vertical-align: top;
    max-width: 410px;
    display: inline-block;
    margin: 0 6px 12px 6px;
    width: calc(33.3% - 12px);
    position: relative;
    border: #e3e3e3 1px solid;
    background: #fff;
    text-align: left;
    z-index: 3;
}

.tech_catalog_item_body 
{
    display: flex;
    align-items: center;
    min-height: 155px;
}

.tech_priview_img
{
    margin: auto;
    padding: 5px;
    flex: 1 1 auto;
}

.tech_priview_img img
{
    /*width: 100%;*/
    max-width: 150px;
    opacity: 0.4;
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}

.tech_catalog_item:hover .tech_priview_img img
{
    opacity: 1;
}

.tech_catalog_item:hover
{
    border: #ef6c00 1px solid;
    -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
}

.tech_priview_text
{
    margin: auto;
    padding: 5px;
    flex: 1 1 auto;
    font-size: 14px;
    line-height: 1.2;
}

.tech_priview_header
{
    font-weight: 800;
}

.tech_priview_mod
{
    
}

.tech_priview_actual
{
    
}

 @media (max-width: 1140px){
     .tech_catalog_item {
         width: calc(50% - 12px);
         max-width: 50%;
    }
}

 @media (max-width: 768px){
     .tech_catalog_item {
         width: calc(100% - 12px);
         max-width: 100%;
    }
}

 @media (min-width: 768px){
     .catalog_section_item:hover {
         border: #b1b0b0 1px solid;
    }
}
 @media (max-width: 500px){
     .catalog_section_item {
         width: calc(100% - 12px);
         max-width: 300px;
         margin: 6px auto;
    }
}

